In [2]:
import pandas as pd
import numpy as np
import re

## Data Loading

In [3]:
df = pd.read_csv("VS17MORT.csv", low_memory=False, nrows=10000) # Mortality dataset's DATAFRAME

In [4]:
df.head(5)

,Resident_Status,Education,Month_Of_Death,Sex,Age_Key,Age_Value,Age_Sub_Flag,Age_Recode_52,Age_Recode_27,Age_Recode_12,...,RA18,RA19,RA20,Race,Race_Bridged,Race_Imputation,Race_Recode_3,Race_Recode_5,Hispanic_Origin,Hispanic_Origin_Recode
0,1,,101,M,1,71,,40,20,9,...,,,,1,,,1,1,100,6
1,1,,101,M,1,74,,40,20,9,...,,,,1,,,1,1,100,6
2,1,,101,M,1,59,,37,17,8,...,,,,1,,,1,1,100,6
3,1,,101,M,1,90,,44,24,11,...,,,,3,,,2,3,100,8
4,1,,101,M,1,66,,39,19,9,...,,,,1,,,1,1,100,6

In [5]:
df.shape

(10000, 75)

In [6]:
df.columns

Index(['Resident_Status', ' Education', ' Month_Of_Death', ' Sex', ' Age_Key',
       ' Age_Value', ' Age_Sub_Flag', ' Age_Recode_52', ' Age_Recode_27',
       ' Age_Recode_12', ' Infant_Age_Recode_22', ' Place_Of_Death',
       ' Marital_Status', ' DOW_of_Death', ' Data_Year', ' Injured_At_Work',
       ' Manner_Of_Death', ' Method_Of_Disposition', ' Autopsy',
       ' Activity_Code', ' Place_Of_Causal_Injury', '  ICD10',
       ' Cause_Recode_358', ' Cause_Recode_113', ' Infant_Cause_Recode_130',
       ' Cause_Recode_39', ' Entity_Axis_Conditions', ' EAC1', ' EAC2',
       ' EAC3', ' EAC4', ' EAC5', ' EAC6', ' EAC7', ' EAC8', ' EAC9', ' EAC10',
       ' EAC11', ' EAC12', ' EAC13', ' EAC14', ' EAC15', ' EAC16', ' EAC17',
       ' EAC18', ' EAC19', ' EAC20', ' Record_Axis_Conditions', ' RA1', ' RA2',
       ' RA3', ' RA4', ' RA5', ' RA6', ' RA7', ' RA8', ' RA9', ' RA10',
       ' RA11', ' RA12', ' RA13', ' RA14', ' RA15', ' RA16', ' RA17', ' RA18',
       ' RA19', ' RA20', ' Race', ' Race_Bridged', ' Race_Imputation',
       ' Race_Recode_3', ' Race_Recode_5', ' Hispanic_Origin',
       ' Hispanic_Origin_Recode'],
      dtype='object')

In [7]:
df = df.drop(columns=[" Education"])

## Data Cleaning

In [8]:
def removeSpaces(item):
    regex = re.compile("\S+")
    return regex.findall(item)[0] if type(item) == str else item

def cleanColumns(dataFrame):
    return dataFrame.rename(columns=lambda x: removeSpaces(x))

In [9]:
df = cleanColumns(df)

In [10]:
df.columns

Index(['Resident_Status', 'Month_Of_Death', 'Sex', 'Age_Key', 'Age_Value',
       'Age_Sub_Flag', 'Age_Recode_52', 'Age_Recode_27', 'Age_Recode_12',
       'Infant_Age_Recode_22', 'Place_Of_Death', 'Marital_Status',
       'DOW_of_Death', 'Data_Year', 'Injured_At_Work', 'Manner_Of_Death',
       'Method_Of_Disposition', 'Autopsy', 'Activity_Code',
       'Place_Of_Causal_Injury', 'ICD10', 'Cause_Recode_358',
       'Cause_Recode_113', 'Infant_Cause_Recode_130', 'Cause_Recode_39',
       'Entity_Axis_Conditions', 'EAC1', 'EAC2', 'EAC3', 'EAC4', 'EAC5',
       'EAC6', 'EAC7', 'EAC8', 'EAC9', 'EAC10', 'EAC11', 'EAC12', 'EAC13',
       'EAC14', 'EAC15', 'EAC16', 'EAC17', 'EAC18', 'EAC19', 'EAC20',
       'Record_Axis_Conditions', 'RA1', 'RA2', 'RA3', 'RA4', 'RA5', 'RA6',
       'RA7', 'RA8', 'RA9', 'RA10', 'RA11', 'RA12', 'RA13', 'RA14', 'RA15',
       'RA16', 'RA17', 'RA18', 'RA19', 'RA20', 'Race', 'Race_Bridged',
       'Race_Imputation', 'Race_Recode_3', 'Race_Recode_5', 'Hispanic_Origin',
       'Hispanic_Origin_Recode'],
      dtype='object')

In [11]:
def cleanEmptyStringValues(_df):
    return _df.applymap(lambda x: x if str(x) != ' ' else None)

In [12]:
df = cleanEmptyStringValues(df)

In [13]:
def fixStringValues(_df):
    return _df.applymap(lambda x: removeSpaces(x))

In [14]:
df = fixStringValues(df)

In [15]:
def replaceNAWithMode(_df):
    for column in _df.columns:
        try:
            _mode = _df[column].mode()[0]
            _df[column] = _df[column].fillna(_mode)
        except:
            pass
    return _df

In [16]:
df = replaceNAWithMode(df)

In [17]:
df = df.drop(columns=[x for x in df.columns if df[x].unique()[0] == None])

In [18]:
df.columns

Index(['Resident_Status', 'Month_Of_Death', 'Sex', 'Age_Key', 'Age_Value',
       'Age_Recode_52', 'Age_Recode_27', 'Age_Recode_12',
       'Infant_Age_Recode_22', 'Place_Of_Death', 'Marital_Status',
       'DOW_of_Death', 'Data_Year', 'Injured_At_Work', 'Manner_Of_Death',
       'Method_Of_Disposition', 'Autopsy', 'Activity_Code',
       'Place_Of_Causal_Injury', 'ICD10', 'Cause_Recode_358',
       'Cause_Recode_113', 'Infant_Cause_Recode_130', 'Cause_Recode_39',
       'Entity_Axis_Conditions', 'EAC1', 'EAC2', 'EAC3', 'EAC4', 'EAC5',
       'EAC6', 'EAC7', 'EAC8', 'EAC9', 'EAC10', 'EAC11', 'EAC12', 'EAC13',
       'Record_Axis_Conditions', 'RA1', 'RA2', 'RA3', 'RA4', 'RA5', 'RA6',
       'RA7', 'RA8', 'RA9', 'RA10', 'RA11', 'RA12', 'RA13', 'Race',
       'Race_Bridged', 'Race_Imputation', 'Race_Recode_3', 'Race_Recode_5',
       'Hispanic_Origin', 'Hispanic_Origin_Recode'],
      dtype='object')

In [48]:
df.head()

,Resident_Status,Month_Of_Death,Sex,Age_Key,Age_Value,Age_Sub_Flag,Age_Recode_52,Age_Recode_27,Age_Recode_12,Infant_Age_Recode_22,...,RA18,RA19,RA20,Race,Race_Bridged,Race_Imputation,Race_Recode_3,Race_Recode_5,Hispanic_Origin,Hispanic_Origin_Recode
0,1,101,M,1,71,None,40,20,9,02,...,None,None,None,1,1,2,1,1,100,6
1,1,101,M,1,74,None,40,20,9,02,...,None,None,None,1,1,2,1,1,100,6
2,1,101,M,1,59,None,37,17,8,02,...,None,None,None,1,1,2,1,1,100,6
3,1,101,M,1,90,None,44,24,11,02,...,None,None,None,3,1,2,2,3,100,8
4,1,101,M,1,66,None,39,19,9,02,...,None,None,None,1,1,2,1,1,100,6

In [49]:
df.tail()

,Resident_Status,Month_Of_Death,Sex,Age_Key,Age_Value,Age_Sub_Flag,Age_Recode_52,Age_Recode_27,Age_Recode_12,Infant_Age_Recode_22,...,RA18,RA19,RA20,Race,Race_Bridged,Race_Imputation,Race_Recode_3,Race_Recode_5,Hispanic_Origin,Hispanic_Origin_Recode
9995,1,102,F,1,71,None,40,20,9,02,...,None,None,None,1,1,2,1,1,100,6
9996,2,101,M,1,75,None,41,21,10,02,...,None,None,None,1,1,2,1,1,100,6
9997,1,102,F,1,82,None,42,22,10,02,...,None,None,None,1,1,2,1,1,100,6
9998,1,102,F,1,80,None,42,22,10,02,...,None,None,None,1,1,2,1,1,100,6
9999,1,102,M,1,51,None,36,16,7,02,...,None,None,None,1,1,2,1,1,100,6

## Descriptive Statistics

In [50]:
for column in df.columns:
    try:
        mean = df[column].mean()
        if mean > 0:
            print(df[column].describe())
    except:
        pass

count    10000.000000
mean         1.200200
std          0.467912
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          4.000000
Name: Resident_Status, dtype: float64
count    10000.000000
mean       103.534100
std          3.522169
min        101.000000
25%        101.000000
50%        102.000000
75%        106.000000
max        112.000000
Name: Month_Of_Death, dtype: float64
count    10000.000000
mean         1.020900
std          0.272159
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          9.000000
Name: Age_Key, dtype: float64
count    10000.000000
mean        69.597400
std         24.977292
min          1.000000
25%         59.000000
50%         73.000000
75%         84.000000
max        999.000000
Name: Age_Value, dtype: float64
count    10000.000000
mean        39.306800
std          4.640369
min          1.000000
25%         37.000000
50%         40.000000
75%         42.000000
max         52.000000
Name: Age_Recode_52, dtype: float64
count    10000.000000
mean        19.410700
std          4.019756
min          1.000000
25%         17.000000
50%         20.000000
75%         22.000000
max         27.000000
Name: Age_Recode_27, dtype: float64
count    10000.000000
mean         8.929600
std          1.931739
min          1.000000
25%          8.000000
50%          9.000000
75%         10.000000
max         12.000000
Name: Age_Recode_12, dtype: float64
count     10000
unique       19
top          02
freq       9934
Name: Infant_Age_Recode_22, dtype: object
count    10000.000000
mean         3.343800
std          2.017277
min          1.000000
25%          1.000000
50%          4.000000
75%          4.000000
max          7.000000
Name: Place_Of_Death, dtype: float64
count    10000.000000
mean         3.917000
std          2.000728
min          1.000000
25%          2.000000
50%          4.000000
75%          6.000000
max          7.000000
Name: DOW_of_Death, dtype: float64
count    10000.0
mean      2017.0
std          0.0
min       2017.0
25%       2017.0
50%       2017.0
75%       2017.0
max       2017.0
Name: Data_Year, dtype: float64
count     10000
unique        6
top           7
freq       8829
Name: Manner_Of_Death, dtype: object
count     10000
unique        1
top           9
freq      10000
Name: Activity_Code, dtype: object
count     10000
unique       10
top           0
freq       9526
Name: Place_Of_Causal_Injury, dtype: object
count    10000.000000
mean       223.108000
std        100.786805
min         10.000000
25%        159.000000
50%        215.000000
75%        267.000000
max        456.000000
Name: Cause_Recode_358, dtype: float64
count    10000.000000
mean        71.592500
std         32.487967
min          3.000000
25%         46.000000
50%         68.000000
75%        102.000000
max        135.000000
Name: Cause_Recode_113, dtype: float64
count     10000
unique       36
top         135
freq       9930
Name: Infant_Cause_Recode_130, dtype: object
count    10000.000000
mean        25.164500
std         10.389477
min          1.000000
25%         17.000000
50%         23.000000
75%         37.000000
max         42.000000
Name: Cause_Recode_39, dtype: float64
count    10000.000000
mean         2.782700
std          1.840168
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         13.000000
Name: Entity_Axis_Conditions, dtype: float64
count    10000.000000
mean         2.650700
std          1.724931
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         13.000000
Name: Record_Axis_Conditions, dtype: float64
count    10000.000000
mean         2.021600
std          5.931041
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         78.000000
Name: Race, dtype: float64
count     10000
unique        1
top           1
freq      10000
Name: Race_Bridged, dtype: object
count     10000
unique        2
top           2
freq       9967
Name: Race_Imputation, dtype: object
count    10000.000000
mean         1.374300
std          0.692421
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Race_Recode_3, dtype: float64
count    10000.000000
mean         1.403800
std          0.768768
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          4.000000
Name: Race_Recode_5, dtype: float64
count    10000.000000
mean       105.251700
std         56.148216
min        100.000000
25%        100.000000
50%        100.000000
75%        100.000000
max        998.000000
Name: Hispanic_Origin, dtype: float64
count    10000.000000
mean         6.329400
std          0.896759
min          1.000000
25%          6.000000
50%          6.000000
75%          7.000000
max          9.000000
Name: Hispanic_Origin_Recode, dtype: float64

In [51]:
Q1 = df["Age_Value"].quantile(0.25)
Q3 = df["Age_Value"].quantile(0.75)

print("INTER-QUARTILE RANGE (IQR) For Age:", Q3-Q1)

INTER-QUARTILE RANGE (IQR) For Age: 25.0